.divImgPortada{
    position: relative;
    width: 100%;
  }
  #imagenPortada{
    width: 100%;
  }

  #botonFoto {
    font-size: 28px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border:none;
    background: black;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #botonFoto:focus,
  #botonFoto:hover {
    color: #fff;
  }
  
  #botonFoto:focus:after,
  #botonFoto:hover:after {
    width: 100%;
    left: 0%;
  }
  
  #botonFoto:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 5px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  .tituloFoto{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: wheat;
  }
  @media screen and (max-width: 600px) {
    .tituloFoto{
      position: absolute;
      font-size: 12px;
      top: 68%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px, solid, black;
      background: wheat;
    }
    #botonFoto{
      font-size: 16px;
    }
  }